.bangladesh {
    filter: drop-shadow(5px 10px 10px rgba(0, 0, 0, 0.589));

    .svg__division {
        fill: #42b883;
        cursor: pointer;

        &-active {
            fill: #347474;
            filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.8));

            &:hover {
                fill: #265555 !important;
            }

            & text {
                fill: white !important;
            }
        }

        text {
            fill: #1c2e41 ;
        }
    }
}

.svg__district-active {
    fill: #1b3f3f !important;

    text {
        fill: white !important;
    }
}
